Maria NEAGOIE <maria.neagoie@polytechnique.edu> <your.email@example.com>
Maria NEAGOIE <maria.neagoie@polytechnique.edu> <maria.neagoie@polytechnique.edu>
Luxin MATASARU <luxin.matasaru@polytechnique.edu> <luxin.matasaru@polytechnique.edu>
Shounak RAO <shounak.rao@polytechnique.edu> <shounak9906@gmail.com> 
Shounak RAO <shounak.rao@polytechnique.edu> <shounak.rao@polytechnique.edu>
Omar CHERIF <omar.cherif@polytechnique.edu> <omar.cherif@polytechnique.edu>